@page "/donations"
<PageTitle>Support Squad: Pay It Forward</PageTitle>
<h1 class="display-1">Pay It Forward</h1>
<div class="button-group" style="margin-top: 2rem;">
    <NavLink href="/donations/food">
        <button class="btn color-2 w-100 "
            style=" color: white;  padding: 1.0rem 0; font-size: 3.25rem; font-family: 'Arial', sans-serif; border-radius: 1.5rem;">
            Food
        </button>
    </NavLink>
    <NavLink href="/donations/hygiene">
        <button class="btn mt-2"
            style="background-color: #E9C46A; color: white; width: 100%; padding: 1.0rem 0; font-size: 3.25rem; font-family: 'Arial', sans-serif; border-radius: 1.5rem;">
            Hygiene
        </button>
    </NavLink>
    <NavLink href="/donations/payitforward">
        <button class="btn mt-2 color-5"
            style="color: white; width: 100%; padding: 1.0rem 0; font-size: 3.25rem; font-family: 'Arial', sans-serif; border-radius: 1.5rem;">
            Pay It Forward
        </button>
    </NavLink>
</div>
