@page "/donations"
<PageTitle>Pay it Forward</PageTitle>
<h1>Pay it Forward</h1>
<div class="d-flex flex-column" style="height: 500px;">
    <a href="/donations/food" class="btn color-2 h-50">Food</a>
    <button type="button" class="btn  color-3 h-50">Hygiene</button>
</div>