@page "/donations/food"

<PageTitle>Pay it Forward - Food</PageTitle>
<div class="container">
    <h1>Pay it Forward - Food</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Location</th>
                <th>Vouchers Remaining</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Popeyes</td>
                <td>6</td>
                <td>
                    <NavLink href="donations/food/getnow"><button>Get Now</button></NavLink>
                </td>
            </tr>
        </tbody>
    </table>
</div>
