@page "/donations/food"

<PageTitle>Pay it Forward - Food Passes</PageTitle>
<div class="container">
    <h1>Pay it Forward - Food Passes</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Location</th>
                <th>Vouchers Remaining</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var location in locations)
            {
                <tr>
                    <td>@location.Name</td>
                    <td>@location.VoucherCount</td>
                    <td>
                        @if (location.VoucherCount > 0)
                        {
                            <a href="/donations/food/getnow/@location.Name" class="btn color-4 w-100">Get Now</a>
                        }
                        else
                        {
                            <p class="text-center"><strong>Try Again later</strong></p>
                        }

                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>

@code {

    private Location[] locations = new Location[5];

    protected override void OnInitialized()
    {
        Random rand = new Random();
        locations[0] = new Location { Name = "WECARE Food Pantry", VoucherCount = rand.Next(10) };
        locations[1] = new Location { Name = "Family Resource Assistance", VoucherCount = rand.Next(10) };
        locations[2] = new Location { Name = "Sistrunk Market", VoucherCount = 0 };
        locations[3] = new Location { Name = "Heaven's Kitchen", VoucherCount = 0 };
        locations[4] = new Location { Name = "Donna's Caribbean Restaurant", VoucherCount = rand.Next(10) };
    }

    public class Location
    {
        public string? Name { get; set; }
        public int? VoucherCount { get; set; }


    }
}