@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>



<div class="container mt-4">
    <button class="btn" style="background-color: #2A9D8F; color: white; width: 100%; padding: 1.5rem 0; font-size: 1.25rem; font-family: 'Arial', sans-serif;">Button 1</button>
    <NavLink href="donations"><button class="btn mt-2" style="background-color: #E9C46A; color: white; width: 100%; padding: 1.5rem 0; font-size: 1.25rem; font-family: 'Arial', sans-serif;">Donations</button></NavLink>
    <button class="btn mt-2" style="background-color: #F4A261; color: white; width: 100%; padding: 1.5rem 0; font-size: 1.25rem; font-family: 'Arial', sans-serif;">Button 3</button>
    <button class="btn mt-2" style="background-color: #E76F51; color: white; width: 100%; padding: 1.5rem 0; font-size: 1.25rem; font-family: 'Arial', sans-serif;">Button 4</button>
</div>

@code{

}