@page "/resources"
@attribute [StreamRendering]

<PageTitle>Resources</PageTitle>
<h1>Resources</h1>

<p>This link shows the links to fetch the resources that a homeless person may need.</p>

<ul>
    <li><a href="/shelters">Homeless Shelter Directory</a></li>
    <li><a href="https://www.homelessshelterdirectory.org/foodbanks/">Food Banks</a></li>
    <li><a href="https://www.homelessshelterdirectory.org/foodbanks/">Food Banks</a></li>
    <li><a href="https://www.homelessshelterdirectory.org/foodbanks/">Food Banks</a></li>
    <li><a href="https://www.homelessshelterdirectory.org/foodbanks/">Food Banks</a></li>
    <li><a href="https://www.homelessshelterdirectory.org/foodbanks/">Food Banks</a></li>
    <li><a href="https://www.homelessshelterdirectory.org/foodbanks/">Food Banks</a></li>
    <li><a href="https://www.homelessshelterdirectory.org/foodbanks/">Food Banks</a></li>
    <li><a href="https://www.homelessshelterdirectory.org/foodbanks/">Food Banks</a></li>
    <li><a href="https://www.homelessshelterdirectory.org/foodbanks/">Food Banks</a></li>
</ul>