@page "/resources"
@using fantasticfive1.Models
@using fantasticfive1.Data
@inject fantasticfive1.Data.LookupService lookupservice;
@rendermode InteractiveServer

<PageTitle>Resources</PageTitle>
<h1>Resources</h1>

<!-- Dropdown for unique items -->
<div class="form-group">
    <label for="resourceTypeDropdown">Select Resource Type:</label>
    <select class="form-control" id="resourceTypeDropdown" @bind="selectedResourceType">
        @foreach (var item in resourceTypes)
        {
            <option value="@item">@item</option>
        }
    </select>
</div>

@code {
    // List of unique resource types
    private List<string> resourceTypes = new List<string>
    {
        "24 Hour Bathroom",
        "Church",
        "Shower",
        "Wifi",
        "Shelter",
        "24 Hour Cafe",
        "Bathroom",
        "Food Pantry",
        "Cafe",
        "Gym",
        "Community Center",
        "Resource Hub",
        "Soup Kitchen"
    };

    // Selected resource type
    private string selectedResourceType;
}