@page "/shelters"
@using fantasticfive1.Models

<h1>Shelters</h1>

<br/>

<div class="form-check form-switch">
    <input class="form-check-input" style="font-size: 1.5rem;" type="checkbox" role="switch" id="flexSwitchCheckDefault">
    <label class="form-check-label" style="font-size: 1.5rem;" for="flexSwitchCheckDefault">Women and Child Friendly</label>
</div>
<div class="form-check form-switch">
    <input class="form-check-input" style="font-size: 1.5rem;" type="checkbox" role="switch" id="flexSwitchCheckDefault">
    <label class="form-check-label" style="font-size: 1.5rem;" for="flexSwitchCheckDefault">Include Paid Options</label>
</div>

@code {
    
}
